body {
  background-color: #696969;
}

#story {
  display: none;
  font-family: fantasy;
}
#container {
  position: relative;
  height: 100%;
}

#blanks {
  text-align: center;
}

.form-group {
  font-size: 35px;
  margin:20px;
  color: darkblue;
}

.form-control {
  font-size: 25px;
}

#story p {
  font-size: 20px;

}
